@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

.Word-error {
  color: lightcoral;
}

.Wordlist {
  padding: 15px;
  width: 500px;
  height: 150px;
  margin: auto;
  margin-top: 10%;
  color: antiquewhite;
  background-color: #282c34;
  border-radius: 4px;
  text-align: start;
}

.Wordlist-input {
  width: 100%;
}

p {
  font-family: 'Roboto Mono', cursive;
}