@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';

.Wordlist {
  padding: 15px;
  width: 500px;
  margin: auto;
  margin-top: 10%;
  color:antiquewhite;
  background-color: #282c34;
  border-radius: 4px;
  text-align:start;
}

.Wordlist-input {
  width: 100%;
}

p {
  padding: 0px;
  font-family: 'Roboto Mono', cursive;
}